// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 8px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 14px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.7;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Spectral SC', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  28px;
$font-size-h2:  22px;
$font-size-h3:  19px;
$font-size-h4:  16px;
$font-size-h5:  14px;
$font-size-h6:  12px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;