---
layout: default
title: Photography
description: I have provided a wide range of photography services internationally. My style emphasises a sense of longing and nostalgia, and the subtle charm of everyday life.
---
<div class="container">
  <div class="page-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}Photography{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% endif %}
  </div>
</div>

{% include section-photography.html %}
